<!DOCTYPE html>
<html>
    <head>
         <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}
       
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{{ site.url }}css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{ site.url }}css/coin-slider.css" />
        <script type="text/javascript" src="{{ site.url }}js/cufon-yui.js"></script>
        <script type="text/javascript" src="{{ site.url }}js/cufon-aller.js"></script>
        <script type="text/javascript" src="{{ site.url }}js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="{{ site.url }}js/script.js"></script>
        <script type="text/javascript" src="{{ site.url }}js/coin-slider.min.js"></script>

       <link rel="apple-touch-startup-image" href="{{ site.url }}images/jackson/2048x2048.png">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" sizes="76x76" href="{{ site.url }}images/jackson/76x76.png">
        <link rel="shortcut icon" sizes="120x120" href="{{ site.url }}images/jackson/120x120.png">
        <link rel="shortcut icon" sizes="128x128" href="{{ site.url }}images/jackson/128x128.png">
        <link rel="shortcut icon" sizes="152x152" href="{{ site.url }}images/jackson/152x152.png">
        <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}images/jackson/196x196.png">
        <link rel="shortcut icon" sizes="512x512" href="{{ site.url }}images/jackson/512x512.png">
        <link rel="shortcut icon" sizes="1024x1024" href="{{ site.url }}images/jackson/1024x1024.png">
        <link rel="shortcut icon" sizes="2048x2048" href="{{ site.url }}images/jackson/2048x2048.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}images/jackson/76x76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}images/jackson/120x120.png">
        <link rel="apple-touch-icon" sizes="128x128" href="{{ site.url }}images/jackson/128x128.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}images/jackson/152x152.png">
        <link rel="apple-touch-icon" sizes="196x196" href="{{ site.url }}images/jackson/196x196.png">
        <link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}images/jackson/512x512.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="{{ site.url }}images/jackson/1024x1024.png">
        <link rel="apple-touch-icon" sizes="2048x2048" href="{{ site.url }}images/jackson/2048x2048.png">

        <link rel="stylesheet" href="{{ site.url }}components/highlightjs/styles/github.css" />
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}atom.xml" title="{{ site.title }} activity feed" />
        <style>
        /** quick fix because bootstrap <pre> has a background-color. */
        pre code { background-color: inherit; }
        </style>
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
    <div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="{{ site.url }}/"><span>{{ site.title }}</span></a></li>
          <li><a href="{{ site.url }}blog/categories"><span>Categories</span></a></li>
          <li><a href="{{ site.url }}about"><span>About Us</span></a></li>
          <li><a href="{{ site.url }}blog"><span>Blog</span></a></li>
          <li><a href="{{ site.url }}contact"><span>Contact Us</span></a></li>
        </ul>
      </div>
      <div class="logo">
        <h1><a href="{{ site.url }}/">{{ site.title }}</a></h1>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> <a href="#"><img src="{{ site.url }}images/slide1.jpg" width="940" height="271" alt="" /> </a> <a href="#"><img src="{{ site.url }}images/slide2.jpg" width="940" height="271" alt="" /> </a> <a href="#"><img src="{{ site.url }}images/slide3.jpg" width="940" height="271" alt="" /> </a> </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
        <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><a href="blog/2015/11/01/welcome">Bienvenue sur Xperiment</a></h2>
          <p class="infopost">Posted on <span class="date">11 sep 2018</span> by <a href="#">Admin</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a> <a href="#" class="com">Comments <span>11</span></a></p>
          <div class="clr"></div>
          <div class="img"><img src="{{ site.url }}images/img1.jpg" width="630" height="221" alt="" class="fl" /></div>
          <div class="post_content">
          <p> {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}</p>
            <p class="spec"><a href="#" class="rm">Read more &raquo;</a></p>
          </div>
          <div class="clr"></div>
        </div>
       
        <h4>{{ site.title }}{% if site.subtitle %} <small>{{ site.subtitle }}</small>{% endif %}</h4>
      </div>

                <div class="sidebar">
        <div class="searchform">
          <form id="formsearch" name="formsearch" method="post" action="#">
            <span>
            <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
            </span>
            <input name="button_search" src="{{ site.url }}images/search.gif" class="button_search" type="image" />
          </form>
        </div>
        <div class="clr"></div>
        <div class="gadget">
          <h2 class="star"><span>Sidebar</span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">TemplateInfo</a></li>
            <li><a href="#">Style Demo</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Archives</a></li>
            <li><a href="#">Web Templates</a></li>
          </ul>
        </div>
        <div class="gadget">
          <h2 class="star"><span>Sponsors</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="#">Lorem ipsum dolor</a><br />
              Donec libero. Suspendisse bibendum</li>
            <li><a href="#">Dui pede condimentum</a><br />
              Phasellus suscipit, leo a pharetra</li>
            <li><a href="#">Condimentum lorem</a><br />
              Tellus eleifend magna eget</li>
            <li><a href="#">Fringilla velit magna</a><br />
              Curabitur vel urna in tristique</li>
            <li><a href="#">Suspendisse bibendum</a><br />
              Cras id urna orbi tincidunt orci ac</li>
            <li><a href="#">Donec mattis</a><br />
              purus nec placerat bibendum</li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image</span> Gallery</h2>
        <a href="#"><img src="{{ site.url }}images/gal1.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="{{ site.url }}images/gal2.jpg" width="75" height="75" alt="" class="gal" /></a>
 <a href="#"><img src="{{ site.url }}images/gal3.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="{{ site.url }}images/gal4.jpg" width="75" height="75" alt="" class="gal" /></a> 
<a href="#"><img src="{{ site.url }}images/gal5.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="{{ site.url }}images/gal6.jpg" width="75" height="75" alt="" class="gal" /></a> </div>
      <div class="col c2">
        <h2><span>Services</span> Overview</h2>
        <p>Curabitur sed urna id nunc pulvinar semper. Nunc sit amet tortor sit amet lacus sagittis posuere cursus vitae nunc.Etiam venenatis, turpis at eleifend porta, nisl nulla bibendum justo.</p>
        <ul class="fbg_ul">
          <li><a href="#">Lorem ipsum dolor labore et dolore.</a></li>
          <li><a href="#">Excepteur officia deserunt.</a></li>
          <li><a href="#">Integer tellus ipsum tempor sed.</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contact</span> Us</h2>
        <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui.</p>
        <p class="contact_info"> <span>Address:</span> 1458 TemplateAccess, USA<br />
          <span>Telephone:</span> +123-1234-5678<br />
          <span>FAX:</span> +458-4578<br />
          <span>Others:</span> +301 - 0125 - 01258<br />
          <span>E-mail:</span> <a href="#">mail@yoursitename.com</a> </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; {{ "now"|date("Y") }} {{ site.title }}</:p>
      <p class="rf"><a target="_blank" href="http://www.free-css.com/">Free CSS Templates</a> By <a target="_blank" href="http://www.sculpin.io/">Sculpin.io</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>

        <script>window.jQuery || document.write('<script src="{{ site.url }}components/jquery/jquery.min.js"><\/script>')</script>
        <script src="{{ site.url }}components/bootstrap/js/bootstrap.min.js"></script>
        {% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}

        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
        <script src="{{ site.url }}components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        {% block scripts_after %}
        {% endblock %}
</body>

</html>

